/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('register\ image.jpg');
    background-size: cover;
    background-position: center;
    
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.register-form {
    background-color: #f7f7f7;
    padding: 2em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    font-size: x-large;
}

.register-form h1 {
    margin-top: 0;
}

.register-form p {
    margin-bottom: 2em;
}

.register-form label {
    display: block;
    margin-bottom: 0.5em;
    border-radius: 25px;
    font-size: x-large;
    text-align: center;
}

.register-form input[type="text"], .register-form input[type="email"], .register-form input[type="password"] {
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: x-large;
}

.register-form button[type="submit"] {
    background-color: lightskyblue;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: medium;
}

.register-form button[type="submit"]:hover {
    background-color: #444;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

}
.form-group {
    margin-bottom: 10px;
}
.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 90%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

.signup-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.signup-form button[type="submit"]:hover {
    background-color: #0056b3;
}

.signup-form p {
    text-align: center;
}

.signup-form .separator {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.signup-form .separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.signup-form .separator span {
    margin: 0 10px;
    color: #888;
}

.social-login {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.facebook {
    background-color: #3b5998;
}

.google {
    background-color: #db4437;
}

.social-login i {
    margin-right: 10px;
}

